<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p - %d{yyyy-MM-dd HH:mm:ss.SSS}; %C; %m%n</pattern>
        </encoder>
    </appender>

    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>
            ${CURRENCY_BASKETS_LOGS:-logs}/currency-baskets.log
        </File>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${CURRENCY_BASKETS_LOGS:-logs}/currency-baskets.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.thymeleaf" level="WARN"/>
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>
</configuration>