<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <h2 th:text="'Account savings for ' + ${fullName} + '!'"></h2>
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Bank</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Amount in Rubles</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="account : ${accountsWithRates.accounts}">
                    <tr>
                        <td th:text="${account.id}">...</td>
                        <td th:text="${account.bank}">...</td>
                        <td th:text="${account.currency}">...</td>
                        <td th:text="${account.amount}">...</td>
                        <td th:text="${account.amountBase}">...</td>
                        <td th:text="${account.updated}">...</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <h4 th:text="'Total amount in rubles: ' + ${accountsWithRates.totalAmount}"></h4>
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th:block th:each="currency : ${accountsWithRates.aggregatedBaseAmounts.keySet()}">
                        <th th:text="${currency}">cur</th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Amount</td>
                    <th:block th:each="value : ${accountsWithRates.aggregatedBaseAmounts.values()}">
                        <td th:text="${value.amount}">amount</td>
                    </th:block>
                </tr>
                <tr>
                    <td>Percents</td>
                    <th:block th:each="value : ${accountsWithRates.aggregatedBaseAmounts.values()}">
                        <td th:text="${value.percents} + '%'">percents</td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>